<!DOCTYPE html>
<html ng-app="app">
<head>
<script type="text/javascript" src="libs/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="libs/bootstrap.min.js"></script>
<script type="text/javascript" src="libs/angular.min.js"></script>
<script type="text/javascript" src="apps/apps.js"></script>
<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body ng-controller="menuCtrl">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src= "images/CycloneCartoon.png"/>
		</div>
		<div class="col-md-3">
			<h3 class="text-left">
				My Mobile Home Page
			</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
				<div class="navbar-header">
					 
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
					</button> <a class="navbar-brand" href="#">Home</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							 <a class="dropdown-toggle" href="#" data-toggle="dropdown">Politics<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li ng-repeat="link in links | filter: 'Politics' "><a href={{link.url}}>{{link.name}}</a></li>
							</ul>
						</li>
						<li class="dropdown">
							 <a class="dropdown-toggle" href="#" data-toggle="dropdown">Social<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li ng-repeat="link in links | filter: 'Social' "><a href={{link.url}}>{{link.name}}</a></li>
							</ul>
						</li>
						<li class="dropdown">
							 <a class="dropdown-toggle" href="#" data-toggle="dropdown">Entertainment<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li ng-repeat="link in links | filter: 'Entertainment' "><a href={{link.url}}>{{link.name}}</a></li>
							</ul>
						</li>
						<li class="dropdown">
							 <a class="dropdown-toggle" href="#" data-toggle="dropdown">Technology<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li ng-repeat="link in links | filter: 'Technology' "><a href={{link.url}}>{{link.name}}</a></li>
							</ul>
						</li>
						<li class="dropdown">
							 <a class="dropdown-toggle" href="#" data-toggle="dropdown">Finance<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li ng-repeat="link in links | filter: 'Finance' "><a href={{link.url}}>{{link.name}}</a></li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input class="form-control" type="text" />
						</div> 
						<button class="btn btn-default" type="submit">
							Submit
						</button>
					</form>
				</div>
				
			</nav>
			<ul class="breadcrumb">
				<li>
					<a href="#">Home</a> <span class="divider">/</span>
				</li>
				<li>
					<a href="#">Library</a> <span class="divider">/</span>
				</li>
				<li class="active">
					Data
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<h2>
				Weather
			</h2>
			<div>
				???
			</div>
			<p>
				<a class="btn" href="#">View details</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				News
			</h2>
			<div>
				<!-- start sw-rss-feed code --> 
<script type="text/javascript"> 
<!-- 
rssfeed_url = new Array(); 
rssfeed_url[0]="http://feeds.feedburner.com/foxnews/latest";  
rssfeed_frame_width="400"; 
rssfeed_frame_height="250"; 
rssfeed_scroll="on"; 
rssfeed_scroll_step="6"; 
rssfeed_scroll_bar="on"; 
rssfeed_target="_blank"; 
rssfeed_font_size="12"; 
rssfeed_font_face="Ariel"; 
rssfeed_border="on"; 
rssfeed_css_url="css/rss.css"; 
rssfeed_title="on"; 
rssfeed_title_name=""; 
rssfeed_title_bgcolor="#3366ff"; 
rssfeed_title_color="#fff"; 
rssfeed_title_bgimage="http://"; 
rssfeed_footer="off"; 
rssfeed_footer_name="rss feed"; 
rssfeed_footer_bgcolor="#fff"; 
rssfeed_footer_color="#333"; 
rssfeed_footer_bgimage="http://"; 
rssfeed_item_title_length="50"; 
rssfeed_item_title_color="#666"; 
rssfeed_item_bgcolor="#fff"; 
rssfeed_item_bgimage="http://"; 
rssfeed_item_border_bottom="on"; 
rssfeed_item_source_icon="off"; 
rssfeed_item_date="off"; 
rssfeed_item_description="on"; 
rssfeed_item_description_length="120"; 
rssfeed_item_description_color="#666"; 
rssfeed_item_description_link_color="#333"; 
rssfeed_item_description_tag="off"; 
rssfeed_no_items="0"; 
rssfeed_cache = "27ee887efcf8f8660adc9e90ed32c82c"; 
//--> 
</script> 
<script type="text/javascript" src="http://feed.surfing-waves.com/js/rss-feed.js"></script> 
<!-- The link below helps keep this service FREE, and helps other people find the SW widget. Please be cool and keep it! Thanks. --> 
<div style="text-align:right; width:250px;"><a href="http://www.surfing-waves.com/feed.htm" target="_blank" style="color:#ccc;font-size:10px">widget @</a> <a href="http://www.surfing-waves.com" target="_blank" style="color:#ccc;font-size:10px">surfing-waves.com</a></div> 
<!-- end sw-rss-feed code -->
			</div>
			<p>
				<a class="btn" href="http://www.foxnews.com/">View details</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Entertainment
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details</a>
			</p>
		</div>
	</div>
</div>
</body>
</html>
